# First, exclude all
/*

# Second, add required files and folders
!.gitignore
!command
!activation.sh
!activation.ps1
!config.sh
!config.ps1
!README.md

# Third, exclude files again
command/tempCommands.sh
command/tempCommands.ps1
*.swp
