# First, exclude all
/*

# Second, add required files and folders
!.gitignore
!.gctpattern
!command
!script
!staff
!activation.sh
!activation-cygwin.sh
!activation.ps1
!init.sh
!init.ps1
!configTemplate
!README.md

# Third, exclude files again
command/localCommands.sh
command/localCommands.ps1
*.swp
